version: "3.9"

x-workspace-source: &WORKSPACE_SOURCE "~/ws"

services:
  ws:
    container_name: alpine3.17-ws
    build:
      context: .
      dockerfile: Dockerfile
    ipc: host
    tty: true
    privileged: true
    environment:
      TERM: screen-256color
      LANG: C.UTF-8
    volumes:
      - type: bind
        source: *WORKSPACE_SOURCE
        target: /home/user/ws
    working_dir: /home/user/ws
    command: /bin/bash -c "bash"
